# Session 1. Introduction to Machine Learning

Course info: https://github.com/alexeygrigorev/mlbookcamp-code/tree/master/course-zoomcamp

Note: it is good practice to clear the outputs before pushing, however, here the complete notebook is pushed as it is a small notebook and the goal is to see the answers to the questions.

## Question 1

What's the version of NumPy that you installed?

In [3]:
import numpy as np
np.__version__

'1.19.5'

# Question 2

What's the version of Pandas?

In [4]:
import pandas as pd
pd.__version__

'1.3.2'

## Question 3

What's the average price of BMW cars in the dataset?

3.1 Get data

In [8]:
# !wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
path = "/home/mmc/Desktop/DataTalks/data/"
df = pd.read_csv(path + "data.csv")
df.head()
# MSRP: Manufacturer's suggested retail price â€“ nicknamed "sticker price"

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

3.2 Explore data

In [9]:
df.Make.unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

In [10]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

3.3 Clean heading

In [11]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.columns

Index(['make', 'model', 'year', 'engine_fuel_type', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'driven_wheels',
       'number_of_doors', 'market_category', 'vehicle_size', 'vehicle_style',
       'highway_mpg', 'city_mpg', 'popularity', 'msrp'],
      dtype='object')

3.4 Calculate the average price of BMW

In [13]:
df.groupby('make').msrp.mean()

make
Acura            3.488759e+04
Alfa Romeo       6.160000e+04
Aston Martin     1.979104e+05
Audi             5.345211e+04
BMW              6.154676e+04
Bentley          2.471693e+05
Bugatti          1.757224e+06
Buick            2.820661e+04
Cadillac         5.623132e+04
Chevrolet        2.835039e+04
Chrysler         2.672296e+04
Dodge            2.239006e+04
FIAT             2.267024e+04
Ferrari          2.382188e+05
Ford             2.739927e+04
GMC              3.049330e+04
Genesis          4.661667e+04
HUMMER           3.646441e+04
Honda            2.667434e+04
Hyundai          2.459704e+04
Infiniti         4.239421e+04
Kia              2.531017e+04
Lamborghini      3.315673e+05
Land Rover       6.782322e+04
Lexus            4.754907e+04
Lincoln          4.283983e+04
Lotus            6.918828e+04
Maserati         1.142077e+05
Maybach          5.462219e+05
Mazda            2.003938e+04
McLaren          2.398050e+05
Mercedes-Benz    7.147623e+04
Mitsubishi       2.124054e+04
Nissan           2.858343e+04
Oldsmobile       1.154254e+04
Plymouth         3.122902e+03
Pontiac          1.932155e+04
Porsche          1.016224e+05
Rolls-Royce      3.511306e+05
Saab             2.741350e+04
Scion            1.993250e+04
Spyker           2.133233e+05
Subaru           2.482750e+04
Suzuki           1.790721e+04
Tesla            8.525556e+04
Toyota           2.903002e+04
Volkswagen       2.810238e+04
Volvo            2.854116e+04
Name: msrp, dtype: float64

# Question 4

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [14]:
df[df.year > 2014].isnull().sum()

make                    0
model                   0
year                    0
engine_fuel_type        0
engine_hp              51
engine_cylinders        8
transmission_type       0
driven_wheels           0
number_of_doors         5
market_category      1324
vehicle_size            0
vehicle_style           0
highway_mpg             0
city_mpg                0
popularity              0
msrp                    0
dtype: int64

# Question 5

+ Calculate the average "Engine HP" in the dataset.
+ Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
+ Now, calcualte the average of "Engine HP" again.
+ Has it changed?

In [15]:
df["engine_hp"].mean().round()

249.0

In [16]:
df.engine_hp = df.engine_hp.fillna(df.engine_hp.mean())
df.groupby('make').msrp.mean()
df["engine_hp"].mean().round()

249.0

# Question 6
+ Select all the "Rolls-Royce" cars from the dataset.
+ Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
+ Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
+ Get the underlying NumPy array. Let's call it X.
+ Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
+ Invert XTX.

What is the sum of all the elements of the result?

In [17]:
df_slice = df[df.make ==  "Rolls-Royce"]
df_slice[['engine_hp', 'engine_cylinders', 'highway_mpg']].drop_duplicates().reset_index(drop = True)

   engine_hp  engine_cylinders  highway_mpg
0      325.0               8.0           15
1      563.0              12.0           19
2      563.0              12.0           21
3      563.0              12.0           20
4      322.0              12.0           15
5      453.0              12.0           19
6      624.0              12.0           21

In [18]:
X = df_slice[['engine_hp', 'engine_cylinders', 'highway_mpg']].drop_duplicates().reset_index(drop = True).values
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [19]:
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.032212320677486125

# Question 7
+ Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
+ Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the first element of w?.

In [20]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
aux = XTX_inv.dot(X.T)
aux.dot(y)

array([ 0.19989598, 31.02612262, 31.65378877])

We just implemented linear regression, these are the coefficients of the Normal Equation